* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

::-webkit-scrollbar{
    display: none;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    top: 0px;
    padding-top: 20px;
}

nav ul{
    display: flex;
    gap: 15px;
    margin-left: 10vw;
}

nav li{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(148, 62, 118);
}

nav li:hover{
    cursor: pointer;
    color: rgb(254, 0, 182);
}

nav span{
    padding: 10px 10px 10px 10px;
    border: 2px solid rgb(148, 62, 118);
    color: rgb(148, 62, 118);
    border-radius: 30px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10vw;
}

nav span:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(148, 62, 118);
    transition-duration: 0.5s;
}

.greet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.786);
    border-radius: 30px;
    padding: 100px 0px 30px 0px;
    box-sizing: border-box;
}

.big-bold{
    font-size: 50px;
    font-weight: 900;
    padding: 20px;
}

.med{
    font-size: 40px;
    font-weight: 200;
    padding: 20px;
}

.small{
    font-size: 27px;
    font-weight: lighter;
    padding: 10px;
    color: rgb(38, 38, 38) ;
}

.palegreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palegreen;
    position: relative;
    padding-bottom: 300px;
}

.greet img{
    margin-top: 30px;
    width: 280px;
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    color: black;
}

#about-me{
    font-size: 40px;
    font-weight: 900;
}

.line{
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}

.skills{
    width: 80vw;
    height: 70vh;
    position: absolute;
    border-radius: 15px;
    border: 1px solid rgba(45, 45, 45, 0.375);
    margin-left: 0px;
    bottom: -380px;
    background-color: white;
}
