<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek Biradar</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="left-nav">
            <ul>
                <li>Home</li>
                <li>ML Projects</li>
                <li>WebDev Projects</li>
            </ul>
        </div>
        <div class="right-nav">
            <span class="blue-capsule">
                get in Touch
            </span>
        </div>
    </nav>
    <div class="greet">
        <span class="big-bold">
            Hii 👋, My name is Abhishek Biradar
        </span>
        <span class="med">
            I am a ML Engineer, Fullstack Developer and a Data Analyst
        </span>
        <span class="small">
            A Tech Enthusiast and ya a student too 🧑‍🎓
        </span>
        <img src="../static/images/teen_png.png" alt="An image of a Student">
    </div>
    <div class="about-me">
        <span id="about-me">
            About me
        </span>
        <p class="line">
            well, my name is Abhishek Biradar, I am a student pursuing his Bachelor of Engineering's Degree in Information Technology.
        </p>
        <span class="line">
            I started my coding journey about 3 years ago with HTML, CSS and basic of Javascript, then I chose Python as my primary languge as I had a keen intrest in Data Science and Machine Learning.I also learned some great backend frameworks such as Flask and Django for the backend Programming.
        </span>
        <span class="line">
            I like to spend my free time watching Movies and Series, the thing I hate the most are Therotical Subjects by the way I love Maths.
        </span>
    </div>
</body>
</html>