<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek Biradar</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="left-nav">
            <ul>
                <li>Home</li>
                <li>ML Projects</li>
                <li>WebDev Projects</li>
            </ul>
        </div>
        <div class="right-nav">
            <span class="blue-capsule">
                get in Touch
            </span>
        </div>
    </nav>
    <div class="greet">
        <span class="big-bold">
            Hii 👋, My name is Abhishek Biradar
        </span>
        <span class="med">
            I am a ML Engineer, Fullstack Developer and a Data Analyst
        </span>
    </div>
</body>
</html>