<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek Biradar</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="palegreen">
    <nav>
        <div class="left-nav">
            <ul>
                <li>Home</li>
                <li>ML Projects</li>
                <li>WebDev Projects</li>
            </ul>
        </div>
        <div class="right-nav">
            <span class="blue-capsule">
                get in Touch
            </span>
        </div>
    </nav>
    <div class="greet">
        <span class="big-bold">
            Hii 👋, My name is Abhishek Biradar
        </span>
        <span class="med">
            I am a ML Engineer, Fullstack Developer and a Data Analyst
        </span>
        <span class="small">
            A Tech Enthusiast and ya a student too 🧑‍🎓
        </span>
        <img src="../static/images/teen_png.png" alt="An image of a Student">
    </div>
    <div class="about-me">
        <span id="about-me">
            About me
        </span>
        <p class="line">
            well, my name is Abhishek Biradar, I am a student pursuing his Bachelor of Engineering's Degree in Information Technology.
        </p>
        <span class="line">
            I started my coding journey about 3 years ago with HTML, CSS and basic of Javascript, then I chose Python as my primary languge as I had a keen intrest in Data Science and Machine Learning.I also learned some great backend frameworks such as Flask and Django for the backend Programming.
        </span>
        <span class="line">
            I like to spend my free time watching Movies and Series, the thing I hate the most are Therotical Subjects by the way I love Maths.
        </span>
        </div>
        <div class="skills">
            <div class="skill-slot">
                <img src="../static/images/data_science.svg" alt="data-science">
                <span class="domain">Data Science</span>
                <span class="descr">
                    I like doing complex Data Analysis, to get a idea about the relations between different aspects of data.
                </span>
                <span class="tools">
                    <span class="dev-tools">Dev tools:-</span>
                    <ul>
                        <li>Pandas</li>
                        <li>NumPy</li>
                        <li>Matplotlib</li>
                        <li>SciPy</li>
                        <li>Seaborn</li>
                        <li>Plotly</li>
                    </ul>
                </span>
            </div>
            <div class="skill-slot">
                <img src="../static/images/data_science.svg" alt="data-science">
                <span class="domain">Machine Learning</span>
                <span class="descr">
                    I loved Machine Learning because of it's high potential for discovering the patterns hidden in data, transforming how we understand and interact with the world.
                </span>
                <span class="tools">
                    <span class="dev-tools">Dev tools:-</span>
                    <ul>
                        <li>Jupyter Notebook</li>
                        <li>Tensorflow</li>
                        <li>Keras</li>
                        <li>SciPy</li>
                        <li>Scikit-learn</li>
                        <li>Pandas</li>
                        <li>XGBoost</li>
                        <li>LightGBM</li>
                        <li>CatBoost</li>
                        <li>Optuna</li>
                        <li>Hyperopt</li>
                        <li>Pandas</li>
                        <li>Matplotlib</li>
                    </ul>
                </span>
            </div>
            <div class="skill-slot">
                <img src="../static/images/fullstack.webp" alt="Fullstack Web Development">
                <span class="domain">Fullstack Development</span>
                <span class="descr">
                    I like to code things from scratch, and enjoy bringing ideas to life in the browser.
                </span>
                <span class="tools">
                    <span class="dev-tools">Dev tools:-</span>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Javascript</li>
                        <li>Flask</li>
                        <li>Django</li>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>MongoDB</li>
                        <li>React.js</li>
                        <li>Next.js</li>
                        <li>Bootstrap</li>
                        <li>Tailwind</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
    <div class="projects"></div>
</body>
</html>